.deck-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.deck-item {
    width: 20rem;
    max-width: 95%;
}

.deck__name {
    font-size: 1.2rem;
    text-align: center;
}

.deck__colors {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.deck__description {
    text-align: center;
}